.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.top-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.container {
  display: grid;
  gap: 1px;
}

.node {
  background-color: white;
  width: 20px;
  height: 20px;
  border: 1px solid #1D3557;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popped {
  background-color: #e63946;
}

.path {
  background-color: #fca311;
}

.start{
  background-color: lightgreen;
}

.destination {
  background-color: coral;
}

.discovered {
  background-color: #A8DADC;
}

.obstacle {
  background-color: #14213d;
}
